body
{
    font-family: 'Special Elite', cursive;
    background-color: pink;
}

.ma
{
    color: purple;
    font-size: 16px;
}

.mm
{
    color: purple;
    font-size: 16px;
}

.result
{
    font-size: 25px;
}

.copyright_footer
{
    position: fixed;
    color: gray;
    bottom: 0;
    background-color: lightyellow;
    line-height: 3;
    text-align: center;
}

.header_div
{
    background: white;
    color: red;
    text-align: center;
}

.header_div img
{
    width: 100px;
}

#bottle
{
     border-radius: 10%;
     width: 500px;
}

.footer_div
{
    margin-bottom: 50px;
}

.footer_div h4
{
    background: white;
    border: 10px;
    padding: 10px;
    box-shadow: 5px 5px 18px white;
}

.footer_div img
{
    width: 70px;
}

.header_div
{
    background: white;
    color: red;
}

.header_div img
{
    width: 100px;
}

li > * {
    vertical-align: text-top;
}

#object_name
{
    text-align: center;
    font-size: 50px;
}